{{page-title "Accordion"}}

<h2>Accordion</h2>

<Bs::Accordion as |accordion|>
  <accordion.item as |item|>
    <item.button>My Title 1</item.button>
    <item.body>My Body 1</item.body>
  </accordion.item>
  <accordion.item as |item|>
    <item.button>My Title 2</item.button>
    <item.body>My Body 2</item.body>
  </accordion.item>
</Bs::Accordion>