{{page-title "Alerts"}}

<h2>Alerts</h2>

<Bs::Alert @color="primary">
  A simple primary alert—check it out!
</Bs::Alert>
<Bs::Alert @color="primary">
  A simple primary alert with
  <LinkTo @route="application" class="alert-link">an example link</LinkTo>. Give
  it a click if you like.
</Bs::Alert>
<Bs::Alert @color="success">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example
    text is going to run a bit longer so that you can see how spacing within an
    alert works with this kind of content.</p>
  <hr />
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep
    things nice and tidy.</p>
</Bs::Alert>