{{page-title "Badge"}}

<h2>Badge</h2>

<Bs::Badge @color="primary">Primary</Bs::Badge>
<Bs::Badge @color="secondary">Secondary</Bs::Badge>
<Bs::Badge @color="success">Success</Bs::Badge>
<Bs::Badge @color="danger">Danger</Bs::Badge>