{{page-title "Breadcrumb"}}

<h2>Breadcrumb</h2>

<Bs::Breadcrumb as |breadcrumb|>
  <breadcrumb.item @label="home">Home</breadcrumb.item>
  <breadcrumb.item @label="home.library">Library</breadcrumb.item>
  <breadcrumb.item @label="home.library.data">Data</breadcrumb.item>
</Bs::Breadcrumb>