{{page-title "Breadcrumb"}}

<h1>Breadcrumb</h1>

<Bs::Breadcrumb as |breadcrumb|>
  <breadcrumb.item>
    <LinkTo @route="index">
      First
    </LinkTo>
  </breadcrumb.item>
  <breadcrumb.item>
    <LinkTo @route="index">
      Second
    </LinkTo>
  </breadcrumb.item>
  <breadcrumb.item @current={{true}}>
    Third
  </breadcrumb.item>
</Bs::Breadcrumb>