{{page-title "Card"}}

<h1>Card</h1>

<Bs::Card as |card|>
  <card.header @title="Card title" />
  <card.body>
    <p class="card-text">Some quick example text to build on the card title and
      make up the bulk of the card"s content.</p>
  </card.body>
</Bs::Card>