{{page-title "List group"}}

<h1>List group</h1>

<Bs::ListGroup as |listGroup|>
  <listGroup.item>An item</listGroup.item>
  <listGroup.item>A second item</listGroup.item>
  <listGroup.item>A third item</listGroup.item>
  <listGroup.item>A fourth item</listGroup.item>
  <listGroup.item>And a fifth one</listGroup.item>
</Bs::ListGroup>
<Bs::ListGroup as |listGroup|>
  <listGroup.item class="active">An active item</listGroup.item>
  <listGroup.item>A second item</listGroup.item>
</Bs::ListGroup>
<Bs::ListGroup as |listGroup|>
  <listGroup.item class="disabled">A disabled item</listGroup.item>
  <listGroup.item>A second item</listGroup.item>
</Bs::ListGroup>
<Bs::ListGroup @flush={{true}} as |listGroup|>
  <listGroup.item>An item</listGroup.item>
</Bs::ListGroup>