{{page-title "Placeholders"}}

<h1 class="title">Placeholders</h1>

<div class="example">
  {{! BEGIN-SNIPPET placeholder-example }}

  <Bs::Placeholder class="col-6" />
  <Bs::Placeholder class="w-75" />
  <Bs::Placeholder style={{html-safe "width: 25%;"}} />

  {{! END-SNIPPET }}
</div>

<Snippet @name="placeholder-example" />