{{page-title "Popovers"}}

<h1 class="title">Popovers</h1>

<div class="example">
  {{! BEGIN-SNIPPET popover-example }}

  <Bs::Popover>
    <h5 style={{html-safe "color: red;"}}>Here is the HTML popover content.</h5>
  </Bs::Popover>

  {{! END-SNIPPET }}
</div>

<Snippet @name="popover-example" />