{{page-title "Spinners"}}

<h1 class="title">Spinners</h1>

<div class="example">
  {{! BEGIN-SNIPPET spinner-example }}

  <Bs::Spinner />
  <Bs::Spinner @centered={{true}} />
  <Bs::Spinner @color="success" />

  {{! END-SNIPPET }}
</div>

<Snippet @name="spinner-example" />