@import 'bootstrap';

.title {
  margin-bottom: $spacer;
}

.subtitle {
  margin-top: $spacer;
  margin-bottom: $spacer;
}

.example {
  padding: $spacer;
  border: $border-width solid $border-color;
  border-bottom: none;
  border-radius: $border-radius;
}

pre {
  margin-top: 0 !important;
  margin-bottom: $spacer !important;
  background-color: $light !important;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
}
