// $font-size-root: 0.875rem;

@import 'bootstrap';

.title {
  margin-bottom: $spacer;
  padding-bottom: map-get($spacers, 2);
  border-bottom: $border-width solid $border-color;
}

.subtitle {
  margin-top: $spacer;
  margin-bottom: $spacer;
}

.card,
.navbar {
  margin-bottom: $spacer;
}
