{{page-title "Components"}}

<div class="row">
  <div class="col-2">
    <Bs::Nav @pills={{true}} class="flex-column">
      <LinkTo @route="components.accordion" class="nav-link">
        Accordion
      </LinkTo>
      <LinkTo @route="components.alerts" class="nav-link">
        Alerts
      </LinkTo>
      <LinkTo @route="components.badge" class="nav-link">
        Badge
      </LinkTo>
      <LinkTo @route="components.breadcrumb" class="nav-link">
        Breadcrumb
      </LinkTo>
      <LinkTo @route="components.buttons" class="nav-link">
        Buttons
      </LinkTo>
      <LinkTo @route="components.button-group" class="nav-link">
        Button group
      </LinkTo>
      <LinkTo @route="components.card" class="nav-link">
        Card
      </LinkTo>
      <LinkTo @route="components.carousel" class="nav-link">
        Carousel
      </LinkTo>
      <LinkTo @route="components.close-button" class="nav-link">
        Close button
      </LinkTo>
      <LinkTo @route="components.collapse" class="nav-link">
        Collapse
      </LinkTo>
      <LinkTo @route="components.dropdowns" class="nav-link">
        Dropdowns
      </LinkTo>
      <LinkTo @route="components.list-group" class="nav-link">
        List group
      </LinkTo>
      <LinkTo @route="components.modal" class="nav-link">
        Modal
      </LinkTo>
      <LinkTo @route="components.navbar" class="nav-link">
        Navbar
      </LinkTo>
      <LinkTo @route="components.navs-tabs" class="nav-link">
        Navs & tabs
      </LinkTo>
      <LinkTo @route="components.offcanvas" class="nav-link">
        Offcanvas
      </LinkTo>
      <LinkTo @route="components.pagination" class="nav-link">
        Pagination
      </LinkTo>
      <LinkTo @route="components.placeholders" class="nav-link">
        Placeholders
      </LinkTo>
      <LinkTo @route="components.popovers" class="nav-link">
        Popovers
      </LinkTo>
      <LinkTo @route="components.progress" class="nav-link">
        Progress
      </LinkTo>
      <LinkTo @route="components.spinners" class="nav-link">
        Spinners
      </LinkTo>
      <LinkTo @route="components.toasts" class="nav-link">
        Toasts
      </LinkTo>
      <LinkTo @route="components.tooltips" class="nav-link">
        Tooltips
      </LinkTo>
    </Bs::Nav>
  </div>
  <div class="col-10">
    <Bs::Alert @color="warning">
      <a
        href="https://github.com/charlesfries/ember-simple-bootstrap/tree/master/tests/dummy/app/templates/components"
        class="alert-link"
      >View the source</a>
      of this page to see code examples.
    </Bs::Alert>

    {{outlet}}
  </div>
</div>