{{page-title "Getting started"}}

<h1 class="title">Getting started</h1>

<p>First, install the addon:</p>

<CodeBlock @code="ember install ember-simple-bootstrap" />

<p>Import Bootstrap JavaScript:</p>

<CodeBlock
  @code="// app/app.js

import 'bootstrap';"
  @language="javascript"
/>

<p>Import Bootstrap Sass:</p>

<CodeBlock
  @code="// ember-cli-build.js

const app = new EmberAddon(defaults, {
  sassOptions: {
    includePaths: ['node_modules/bootstrap/scss'],
  },
});"
  @language="javascript"
/>

<CodeBlock
  @code="// app/styles/app.scss

import 'bootstrap';"
  @language="scss"
/>