{{page-title "Getting started"}}

<h1>Getting started</h1>

<Bs::Card as |card|>
  <card.body>
    <pre class="mb-0"><code>ember install ember-simple-bootstrap</code></pre>
  </card.body>
</Bs::Card>

<Bs::Card as |card|>
  <card.body>
    <pre class="mb-0"><code>// app/app.js<br /><br />import 'bootstrap';</code></pre>
  </card.body>
</Bs::Card>

<Bs::Card as |card|>
  <card.body>
    <pre class="mb-0"><code>// app/styles/app.scss<br /><br />@import
        'node_modules/bootstrap/scss/bootstrap';</code></pre>
  </card.body>
</Bs::Card>